/* Basic */

body,
input,
select,
textarea {
    font-size: 11.5pt;
}


/* Spotlight */

.spotlight.top .content {
    padding: 3.825em 0 1.825em 0;
}

.spotlight.bottom .content {
    padding: 3.825em 0 2.95em 0;
}

.spotlight.left .content,
.spotlight.right .content {
    padding: 4.5em 2.5em;
    width: 25em;
}


/* Wrapper */

.wrapper {
    padding: 4.5em 0 2.5em 0;
}


/* Dropotron */

.dropotron.level-0 {
    font-size: 1em;
}


/* Banner */

#banner .content {
    padding: 4.5em;
}


/* Footer */

#footer {
    padding: 4.5em 0;
}