@mixin line-icon($bg: $color-bg, $fg: $color-fg-bold) {
	@include icon;
	$size: 1px;

	&:before {
		color: $bg !important;
		text-shadow:	$size 0 0 $fg,
						($size * -1) 0 0 $fg,
						0 $size 0 $fg,
						0 ($size * -1) 0 $fg;
	}
}

// Misc.
	$zindex-loader-overlay:			100000;
	$max-spotlight:					20;

// Duration.
	$duration-transition:			0.2s;
	$duration-landing-fadein:		1.5s;

// Size.
	$size-border-radius:			4px;
	$size-element-height:			3em;
	$size-element-margin:			2em;

// Font.
	$font-family:					'Roboto', Helvetica, sans-serif;
	$font-family-fixed:				'Courier New', monospace;
	$font-weight:					100;
	$font-weight-bold:				300;

// Color.
	$color-bg:						#1c1d26;
	$color-bg-transparent:			rgba(23,24,32,0.95);
	$color-fg-bold:					#ffffff;
	$color-fg:						rgba(255,255,255,0.75);
	$color-fg-light:				rgba(255,255,255,0.5);
	$color-fg-lighter:				rgba(255,255,255,0.15);
	$color-border:					rgba(255,255,255,0.3);
	$color-border-bg:				rgba(255,255,255,0.075);
	$color-border2:					rgba(255,255,255,0.5);
	$color-border2-bg:				rgba(255,255,255,0.25);

	$color-accent1-bg:				#e44c65;
	$color-accent2-bg:				#272833;
	$color-accent2-bg-transparent:	rgba(39,40,51,0.965);
	$color-accent3-bg:				#5480f1;
	$color-accent4-bg:				#39c088;